.wrapper {
  width: 100%;
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.87rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  .logo {
    z-index: 999;
    mix-blend-mode: multiply;
    position: fixed;
    top: 7.81rem;
    left: 15%;
  }

  .button {
    position: fixed;
    top: 1.75rem;
    left: 1.25rem;
    font-family: $font-type;
    letter-spacing: 0.1rem;
    cursor: pointer;

    i {
      padding-left: 0.5rem;
      font-size: 0.8rem;
    }
  }

  .container {
    .work-container {
      padding-left: 9.37rem;
    }

    .group {
      text-align: right;
      padding-top: 0.93rem;
      margin-bottom: 1.25rem;

      h2 {
        display: inline-block;
        border-top: 1px solid #000;
        margin-bottom: 0.31rem;
        padding-top: 0.62rem;
      }
    }

    .fadeIn {
      transition: 1s;
      opacity: 0;
    }

    .fadeIn.animated {
      opacity: 1;
    }

    .work {
      margin-bottom: 1.25rem;
      border: solid 0.06rem #f0f4f4;

      img {
        width: 100%;
      }
    }

    .open-btn {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 15px;
      right: 20px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .open-btn span {
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 2px;
      background-color: #707070;
      width: 50%;
    }

    .open-btn span:nth-of-type(1) {
      top: 15px;
    }

    .open-btn span:nth-of-type(2) {
      top: 23px;
    }

    .open-btn span:nth-of-type(3) {
      top: 31px;
    }
  }
}
