$font-type: 'Economica', sans-serif;
$small: 10px;
$medium: 11px;
$large: 0.81rem;

body {
  // background-color: #f0f4f4;
  background-color: #fff;
  font-size: 0.75rem;
  color: #000;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
