$font-type: 'Economica', sans-serif;

body {
  background-color: #fff;
  font-size: 0.75rem;
  color: #000;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
